<h1 class="title is-2"><%= @league.name %></h1>

<div class="columns">
  <div class="column">
    <div class="box" style="background-color: #2ecc71; color: white;">
      <article class="media">
        
        <div class="media-content">
          <div class="content">
            <h2 class="title is-2 level-item" style="color: white">Seasons</h2>
            <% @league.seasons.each do |season| %>
              <%= link_to "#{season.start_date.strftime("%Y")} Season", league_season_path(@league, season), class: "level-item"  %> 
            <% end %>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>