<h1 class="title is-1"><%= "#{@player.first_name} #{@player.last_name}" %></h1>

<h2 class="title is-3">Total Yards: <%= @player.total_yards %></h2> 
<hr />
<h2 class="title is-3">Total Rush Yards: <%= @player.total_rush_yards %></h2> 
<h2 class="title is-3">Total Receiving Yards: <%= @player.total_rec_yards %></h2> 

